<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>

</style>
</head>
<body style="background-color:powderblue;">
<nav class="navbar navbar-expand-sm bg-light navbar-light" >
    <a class="navbar-brand" href="#">
    <img src="logo.png" alt="Logo" style="width:40px;">
  </a>
    <a class="nav-link" href="http://127.0.0.1:8000/"><h1>Trelo</h1></a>

</nav>

<center>

    <h3>Sign up for your account </h3>
    <form action="{% url 'signupfull' %}">
        <input type="text" id="email" name="email" value="Email"><br><br>
        By signing up, you confirm that you've read and accepted our Terms of Service and Privacy Policy.<br>
        <input type="submit" value="Sign up">
    </form>

</center>
</body>
</html>